
.container1{
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(36, 99, 141);
  margin: 10% 20% 30% 30%;
  border-radius: 5px;
  width: 550px;
  
}

.card{
  justify-content: center;
  align-items: center;  
  background-color: #b18bef;
  height: 250px;
}

button{
  margin: 10px;
}

input{
  margin:10px;
}


/* dashboard */      /* Sidebar Styling */
        .sidebar {
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          background-color: #f8f9fa; /* Light gray background */
          padding-top: 20px;
      }
      .sidebar-item {
          display: block;
          padding: 12px;
          color: #000;
          text-decoration: none;
      }
      .sidebar-item:hover {
          background-color: #ddd;
      }


/* 
      footer */

      h5 {
          font-size: 1rem;
          line-height: 1.375;
        font-family: Rubik,Arial,sans-serif;
          font-weight: 500;
          color: #979cb5;
      }
      
      a {
        color: #d1d4e4;
        font-weight: 500;
        text-decoration: none;
        background-color: transparent;
      }
      
      a:hover {
        color: #007bff;
        text-decoration: none;
      }
      
      footer {
        background: #132a39;
        font-family: Rubik,Arial,sans-serif;
        font-weight: 400;
        font-size: 1rem;
        overflow-x: hidden;
        color: #cbd2db;
      }